.container{
    display: grid;
    grid-template-columns: 20em 20em 20em 20em;

}

#cssGrid{
    text-align: center;
}

.card{
    border-style: groove;
    border-radius: 0.5em;
    height: 15em;
    width: 15em;
    margin-top: 2em;
    margin-right: 2em;
}
